.Title{
    color: blue;
    background-color: black;
}
.Title h1{
    
    text-align: center;
    font-size: 70px;
}
.Title p{
    color: blue;
    text-align: center;
    font-size: 20px;
    
}
.grid p,h2{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(9, 9, 244);
    border: 2px solid;
    margin: 2;
    padding: 40;    
}
body{
    background-color: rgb(255,6,9); 
}
ol{
	font-size: 15px;	
}
.links{
	color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
	 display:block;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    transform: scale(1.2);
    opacity: 0.33
}
